<%= javascript_include_tag 'tip_calculator' %>

<div class="tip-calculator">
  <%= render partial: "layouts/splitter_logo"%>

  <div class="calculator-container">
    <%= render partial: "input_section"%>
    <%= render partial: "result_section"%>
  </div>
</div>
